*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

/*Estilos para cabecera*/
#header{
    border-bottom: 2px solid #ddd;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    margin-left: 60px;
}

.header-links{
    margin-right: 60px;
}

.header-links ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

.header-links ul li{
    padding: 10px;
}

.header-none{
    display: inline-block;
    color: #333;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 10px;
}

.header-none:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/*Estilos para seccion articulo*/
#article-section{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
}

.article-image{
    margin-left: 60px;
}

.article-offer{
    padding-right: 350px;
}

.article-offer-offer{
    margin-bottom: 0px;
    color: rgba(255, 0, 0, 0.959);
    font-size: 25px;
    font-weight: bold;
}

.article-offer-title{
    margin-top: 0px;
    font-size: 40px;
}

#article-price-btn{
    display: flex;
    gap:20px;
    align-items: center;
}

.artircle-price{
    font-size: 30px;
    font-weight: bold;
}


.article-btn-buy{
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid black;
    height: 30px;
    width: 100px;
    cursor: pointer;
    text-align: center;
}

.article-btn-buy:hover{
    font-weight: bold;
    background-color: blue;
}

.article-features{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    margin-top: 20px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-area: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}


.article-features-item{
    text-align: center;
}

.article-features-item i {
    font-size: 30px; 
    display: block; 
    margin: 0 auto 5px auto;
}

.icon-send{
    color:green
}

.icon-return{
    color: orange;
}

.icon-term{
    color: blue;
}

.article-features-item-description{
    margin: 0;
    font-size: 18px;
    color: #333;
 }

/*Etilos para seccion accesorios*/
#accessories-head{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium'
}

#accessories{
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 30px;
}

.accessories-article-card{
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    overflow: hidden;
    
    box-shadow: 2px, 2px, 8px,rgb(0, 0, 0, 0.1);
}

.accessories-name{
    font-family: 'Franklin Gothic Medium'
}

.accessories-description{
    font-family: Arial
}

#accessories-btn-offer{
    background-color: rgb(255, 30, 0);
    color: white;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid black;
    height: 30px;
    width: 60px;
    cursor: pointer;
    text-align: center;
}

#accessories-btn-offer:hover{
    font-weight: bold;
    background-color: red;
}

#accessories-btn-new{
    background-color: rgb(0, 110, 255);;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid black;
    height: 30px;
    width: 60px;
    cursor: pointer;
    text-align: center;
}

#accessories-btn-new:hover{
    font-weight: bold;
    background-color: blue;
}

/*Estilos para seccion lottery*/
#lottery{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
    background-color: rgb(232, 247, 247);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.lottery-description{
    margin-left: 60px;
}


.lottery-head{
    font-size: 60px;
}

.lottery-paragraph{
    font-size: 25px;
}

.lottery-form{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.lottery-form label{
    margin-top: 20px;
    font-size: 20px;
}

.lottery-form input{
    margin-top: 8px;
    border-radius: 5px;
    border: rgb(232, 247, 247);
    height: 30px;
    width: 200px;
}

.lottery-btn{
    margin-top: 25px;
    
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 90px;
    cursor: pointer;
    text-align: center;
}

.lottery-btn:hover{
    font-weight: bold;
    background-color: blue;
}

#footer{
    border-top: 2px solid #ddd;
    font-size: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}